<div class="card">
    <div class="card-body">
     <h1>Aboout</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur velit sapiente dicta, nobis fugit perferendis beatae consectetur repellat impedit officia ex omnis nulla deleniti placeat cumque ullam dolorem labore voluptatum!</p>
    </div>
</div>