<div class="jumbotron mt-4">
<h1 class="display-4">Aplicacion node y mongo</h1>
<p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero recusandae deserunt iure veniam quam, repellendus eos dicta optio, fugiat natus ex consequatur explicabo possimus? Voluptate id non vero necessitatibus ea?</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatem saepe sapiente veniam nisi officiis animi suscipit amet repudiandae ducimus asperiores tenetur dolor deleniti facilis, ex ea quidem. Dolore, id.</p>
<a href="http://google.com" class="btn btn-primary btn-lg">faztWeb</a>
</div>